pages/_site/*
pages/.quarto/*
pages/resources/*
!pages/resources/evaluation.js
!pages/resources/point-forecasts.js
!pages/resources/mode-switch.html
!pages/resources/css/
!pages/resources/css/custom.css
pages/_quarto.yml
pages/forecasts.qmd
pages/forecast.qmd
pages/evaluations.qmd
pages/evaluation.qmd
!pages/evaluation.qmd
.Rproj.user
.Rhistory
*.Rproj
*.DS_Store
